
body{
    background-color:transparent;
    margin: 0px;
}

header{
    background-color: white;
    height:60px;
    margin-top:40px;
}

h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 25px;
    color:white;
    text-align:center;
    margin-top: 15px;
}

h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:rgb(66, 66, 66);
    margin:auto;
    margin-bottom:20px;
    font-size:25px;
}
p{
    color:#666;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#name{
    background-color:pink;
    width:170px; 
    height:60px;
    margin-left:10%;
    float:left;
}
.nav-item{
    float:right;
    position:relative;
    padding-left:50px;
    
}

nav, #name {
        position:absolute;
        top:30px;
        z-index:10;
        background: transparent;
        width:100%;
        
}
#name{
    margin-top:-10px;
}

.bannerContainer {
    position:relative;     
}

.carousel-slide {
    position:absolute;
    top:0;
      
}

#bio-image{
    float:left;
    padding:20px;
}

#main-bio{
    margin-top:80px;  
}

#second-bio{
    margin-top:60px;
    padding:20px;
}

a{
    color: rgb(255, 255, 255);;
}
a:link{
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-decoration: none;
}

a:hover {
    color: rgb(58, 57, 57);
    text-decoration: none;
}

a:active {
    color: pink;
    text-decoration: none;
}

.container{
    background-color: white;
    width:95%;
    margin:auto;
    margin-top:450px;
    border-style: solid;
    border-width:2px;
    border-color: #d9d9d9;
    margin-bottom:60px;
}

.card{
    margin: auto;    
}




footer{
    outline-style: dotted;
    outline-color:  #d9d9d9;;
}


#line{
    background-color:#e6e6e6;
    height:3px;
    width:760px;
    margin:auto;
}


/* Contact CSS here */

#namebox{
    outline-width:2px;
    outline-color:#e6e6e6;
    outline-style:solid;
    height:20px;
    margin-left:20px;
    margin-right: 20px;
}

#emailbox{
    outline-width:2px;
    outline-color:#e6e6e6;
    outline-style:solid;
    height:20px;
    margin-left:20px;
    margin-right: 20px;
}

#messagebox{
    outline-width:2px;
    outline-color:#e6e6e6;
    outline-style:solid;
    height:120px;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

h3{
    color: #999999;
    margin-left:20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 16px;
}



#submit{
    height:25px;
    background-color:pink;
    width:80px;
    margin-left:13px;
    color:white;
    text-align:center;
    padding-top:8px;
    border-style: solid;
    border-color:white;
    border-width:5px;
}

h5{
    color:white;
    text-align: center;
    font-size:10px;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-github {
    background: rgb(112, 209, 112);
    color: white;
  }
  
 
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }