
body{
    background-color:#e6e6e6;
    margin: 0px;
}

header{
    background-color: white;
    height:60px;
    margin-top:40px;
}

h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 25px;
    color:white;
    text-align:center;
}

h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:pink;
    padding:20px;
}
p{
    color:#666;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#name{
    background-color:pink;
    width:170px; 
    height:60px;
    margin-left:10%;
    float:left;
}
.nav-item{
    float:right;
    position:relative;
    padding-left:50px;
}

nav{
    padding-right:100px;
    padding-top:20px;
}

#bio-image{
    float:left;
    padding:20px;
}

#main-bio{
    margin-top:80px;  
}

#second-bio{
    margin-top:60px;
    padding:20px;
}

a:link{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#666;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: none;
}

a:active {
    color: pink;
    text-decoration: none;
}

.container{
    background-color: white;
    width:800px;
    margin:auto;
    margin-top:40px;
    border-style: solid;
    border-width:2px;
    border-color: #d9d9d9;
    margin-bottom:60px;
}

#above-footer{
    background-color: pink;
    height: 5px;
    position: fixed;
    right: 0;
    left: 0;
}

#footer{
    background-color: #666;
    height:20px;
    text-align:center;
    padding-top:10px;
    color:white;
   width:100%;
}


#line{
    background-color:#e6e6e6;
    height:3px;
    width:760px;
    margin:auto;
}


/* Contact CSS here */

#namebox{
    outline-width:2px;
    outline-color:#e6e6e6;
    outline-style:solid;
    height:20px;
    margin-left:20px;
    margin-right: 20px;
}

#emailbox{
    outline-width:2px;
    outline-color:#e6e6e6;
    outline-style:solid;
    height:20px;
    margin-left:20px;
    margin-right: 20px;
}

#messagebox{
    outline-width:2px;
    outline-color:#e6e6e6;
    outline-style:solid;
    height:120px;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

h3{
    color: #999999;
    margin-left:20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 16px;
}



#submit{
    height:25px;
    background-color:pink;
    width:80px;
    margin-left:13px;
    color:white;
    text-align:center;
    padding-top:8px;
    border-style: solid;
    border-color:white;
    border-width:5px;
}

h5{
    color:white;
    text-align: center;
    font-size:10px;
}


/* portfolio CSS here */

#image1, #image2, #image3, #image4, #image5{
    padding:20px;
    position: relative;
    text-align: center;
    color: white;
}

.project1, .project2, .project3, .project4, .project5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    background-color:pink;
    height:40px;
    width: 225px;
    padding-top:15px;
}



